# Module parameters we don't configure here (but we can if we need to)

# author = "dlpicker"
# agencyID = "GFZ"
# connection.username = scdlpicker-client

scdlpicker.agency = GFZ
scdlpicker.author = scdlpicker
# TODO:
#     scdlpicker.pickAuthor    for created picks/amplitudes
#     scdlpicker.originAuthor  for created origins
scdlpicker.messagingGroup = MLTEST

# Ignore picks or origins from the listed authors.
# Note that this is used as a single black list for both origins and picks.
scdlpicker.ignoredAuthors = scdlpicker, dlpicker, dlreloc, dl-reloc

# Ignore objects from the listed agencies.
scdlpicker.ignoredAgencyIDs = ABC, TEST

# Trigger processing for 'empty' origins (i.e. without arrivals) of the listed agencies. Experimental.
scdlpicker.emptyOriginAgencyIDs = EMSC, BGR, NEIC, BMKG

# Don't change
scdlpicker.streamTimeout = 5

# We cannot change the model at the moment!
scdlpicker.earthModel = iasp91

# Probably OK under /tmp as default, though most likely the user will want to adapt this
scdlpicker.workingDir = /tmp/scdlpicker

# Either 'cpu' or 'gpu'.
#
# 'cpu' is the more conservative setting that should run everywhere.
#
# 'gpu' on appropriate hardware is much faster but if you experience
#       issues e.g. with multithreading, try to set this to 'cpu' and
#       if that works, kindly report this issue.
scdlpicker.device = cpu

# Station blacklist, i.e. list of stations to be ignored.
#
# Specify list of net.sta pairs
scdlpicker.stationBlacklist = WA.ZON, JP.JEW, JP.JEM, JP.JNU

######## picking

scdlpicker.picking.dataset = geofon
scdlpicker.picking.modelName = eqtransformer
scdlpicker.picking.batchSize = 100
scdlpicker.picking.minConfidence = 0.4


######## repicking

scdlpicker.repicking.beforeP = 60
scdlpicker.repicking.afterP = 60

# If false, only picks generated by another module are repicked.
# Set this to true if you want to try stations that have no pick yet.
scdlpicker.repicking.tryUpickedStations = 1

# Manual picks are not repicked by default
scdlpicker.repicking.repickManualPicks = 0


######## relocation

scdlpicker.relocation.minDepth = 10.
scdlpicker.relocation.maxRMS = 1.7
scdlpicker.relocation.maxResidual = 2.5
scdlpicker.relocation.maxDelta = 105

# List of allowed pick authors
scdlpicker.relocation.pickAuthors = dlpicker

# By default wait 17 minutes for a relocation.
# This is for teleseismic applications, whereas regional networks will want to set this to a much smaller delay.
scdlpicker.relocation.minDelay = 1020
